<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Events</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <link rel="stylesheet" href="assets/css/events.css">
  <link rel="stylesheet" href="assets/css/event-loader.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
  <div class="container" id="app">
    <div class="header">
      
    
      <h1 style="text-transform: capitalize">{{category}} Events</h1>
    </div>
    <div v-if="loading" class="evecontainer">
      <div class="animation-evecontainer">
        <div class="lightning-evecontainer">
          <div class="lightning white"></div>
          <div class="lightning red"></div>
        </div>
        <div class="boom-evecontainer">
          <div class="shape circle big white"></div>
          <div class="shape circle white"></div>
          <div class="shape triangle big yellow"></div>
          <div class="shape disc white"></div>
          <div class="shape triangle blue"></div>
        </div>
        <div class="boom-evecontainer second">
          <div class="shape circle big white"></div>
          <div class="shape circle white"></div>
          <div class="shape disc white"></div>
          <div class="shape triangle blue"></div>
        </div>
      </div>
    </div>
    <p class="noevents" v-if="!loading && events==null">No Events In This Category, Please Check After Few Days</p>
    <div class="event-container">
      <div class="card" v-for="(event,index) in events" :key="index">
        <div class="additional">
          <div class="user-card" :style="{'background-image': 'url('+ event.url + ')'}">
          </div>
          <div class="more-info">
            <h1>{{event.header}}</h1>
            <div class="coords">
              <a @click="register" class="register">Register Now</a>
            </div>
            <div class="stats">
              <div>
                <div class="title">Duration</div>
                <i class="far fa-clock"></i>
                <div class="value">{{event.duration}}</div>
              </div>
              <div>
                <div class="title">Team</div>
                <i class="far fa-user"></i>
                <div class="value">{{event.team}}</div>
              </div>
              <div>
                <div class="title">Entry</div>
                <i class="fas fa-rupee-sign"></i>
                <div class="value">{{event.entry}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="general">
          <h1>{{event.header}}</h1>
          <p>
            {{event.content}}
          </p>
          <span class="more">Mouse over the card for more info</span>
        </div>
      </div>
    </div>
  </div>
  <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-database.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
  <script src="assets/js/events.js"></script>
</body>

</html>